# Ignorar logs, arquivos temporários e backups
*.log
*.tmp
*.bak
*.chr
*.dat
*.wnd
*.tpl

# Ignorar executáveis e compilados
*.exe
*.ex5

# Ignorar bases de dados, histórico e cotações do MetaTrader
*.hcc
*.hst